.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  background-color: #95b4f1;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
